.icon-arrow-left{
    font-family: "percolate";
}

.icon-arrow-left:before {
    content: "\e619";
}

.devotional{
    padding: .7rem;
    padding-top: 55px;

    .title{
      line-height: 2rem;
      text-align: center;
      font-weight: bold;
    }
  
    .passage{
        font-family: Times;
        font-style: italic;
        font-size: 1.09rem;
        line-height: 1.4rem;
    }
  
    .text{
        text-align: justify;
    }
    .reference{
        text-align: right;
    }
    .content{
        line-height: 1.7rem;
    }
    .content p{
        margin-top: 1.5rem;
    }
}

  .pt20{
     padding-top:20px;
   }
  .pt10{
      padding-top:10px;
  }